* {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	padding: 0;
}

.header__container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	height: 90px;
	background-color: #07BEB8;
	width: 100%;
	.header__title {
		color: #fff;
		text-align: center;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-top: 130px;
	min-height: 100vh;
	padding: 0 25px;
	box-sizing: border-box;
	background-color: #F5FCFD;
}
.list__repos {
	list-style-type: none;
	display: grid;
	grid-gap: 25px;
	max-width: 1080px;
	margin: 0 auto;
	@media (min-width: 560px) and (max-width: 767px) {
		grid-template-columns: 1fr 1fr;
	}
	@media all and (min-width: 768px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.repo__card {
		padding: 20px;
		background-color: #fff;
		box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		line-height: 25px;
	}
}
.repo__details {
	list-style-type: none;
	.repository__item+.repository__item {
		margin-top: 15px;
	}
	a {
		color: #068B86;
		text-decoration: none;
		font-weight: bold;
	}
}
.circle {
	display: inline-block;
	margin-right: 15px;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	&.circle--html {
		background-color: #BFF900;
	}
	&.circle--css {
		background-color: #820B8A;
	}
	&.circle--javascript {
		background-color: #81171B;
	}
}
.search__containers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto 35px;
	box-sizing: border-box;
	width: 100%;
	max-width: 600px;
	@media all and (min-width: 560px) {
		flex-direction: row;
	}
	.input__select {
		width: 100%;
		border-radius: 5px;
		font-size: inherit;
		outline: none;
		margin-top: 20px;
		height: 43px;
		border: 2px solid #068B86;
		background-color: #068B86;
		color: #fff;
		@media all and (min-width: 560px) {
			width: 30%;
			margin-top:0;
		}
	}
	.input__search {
		width: 100%;
		border-radius: 5px;
		font-size: inherit;
		outline: none;
		padding: 10px;
		box-sizing: border-box;
		border: 2px solid #068B86;
		@media all and (min-width: 560px) {
			width: 70%;
			margin-right: 15px;
		}
	}
}
